.rightgift {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
 .btn {
  background-color:   rgb(230,201,218);
 }

 .btn  a {
  color: rgb(116,120,128)
 }


.rightgift img {
  height: 500px;
}


@media (min-width: 100px) and (max-width: 575px) {
  .rightgift img {
  height: 400px;
}
}
