// Specific CSS for your home-page
body {
  width: 100%;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 background-color: white;
 font-family: ‘Pacifico’, sans-serif;
}

.mainpage {
  margin-left: 10%;
  margin-right: 10%;
  flex-grow: 1;
  margin-top: 2%
}

.mainpage h1, .mainpage h5 {
  text-align: center;
  font-family: ‘Pacifico’;
  color: rgb(116,120,128)
}

.home-cards {
  padding-top: 20px;
  padding-bottom: 20px;
}

.home-cards img {
  width: 100%;
  height: 100%;
}

.mainpage img {
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.title {
  padding-top: 15px;
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  border-color:   rgb(230,201,218);
  border-width: 4px;
  border-style: solid;
}

.holders a {
  color: white
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;

}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .home-cards img {
    height: 80%;
  }
  .card-category {
    height: 150px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .home-cards img {
    height: 80%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .home-cards img {
    height: 100%;
  }
}
