// Specific CSS for your home-page
body {
  margin: 5%
}

.mainpage h1 {
  text-align: center;
}

.pictureback {
  background-image: url(Couple.jpg)
}

.mainpage img {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.title {
  padding-top: 15px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.holders a {
  color: white
}
