.picture-writing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.right, .left {
  margin: auto;
  font-family: Luthier;
  color: rgb(116,120,128);
}

.day {
  border-color:   rgb(230,201,218);
  border-width: 4px;
  border-style: solid;
  padding: 2%;
  margin-top: 2%;
  border-radius: 5px;
}

.right img, .left img {
  border-color:   rgb(230,201,218);
  border-width: 4px;
  border-style: solid;
}


