.picture-writing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.right, .left {
  margin: auto;
  font-family: Luthier;
  color: rgb(116,120,128);
}

.day {
  border-color:   rgb(230,201,218);
  border-width: 4px;
  border-style: solid;
  padding: 2%;
  margin-top: 2%;
  border-radius: 5px;
}

.right img, .left img {
  border-color:   rgb(230,201,218);
  border-width: 4px;
  border-style: solid;
}

@media (min-width: 100px) and (max-width: 575px) {
  .picture-writing {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  }
  .right img, .left img {
    width: 100%;
    height: 50%
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .picture-writing {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  }
  .right img, .left img {
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .picture-writing {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  }
  .right img, .left img {
    width: 100%;
  }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .picture-writing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .picture-writing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  }
}



