.picture-writing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.right, .left {
  margin: auto;
}

.day {
  border-style: ridge;
  padding-bottom: 2%;
  margin-top: 2%;
  padding-top: 1%;
}


