<body>
  <div class="mainpage">

    <h1> Santarém Hotel </h1>

    <div class="hotel-images">

    <%= image_tag("hotel.jpg") %>
    <%= image_tag("room.jpg") %>

    </div>

    <div class="articles">
      We have agreed a discount rate at a Santarém Hotel. There is enough space for the full wedding party to stay here the day before and the day of the wedding. Further information to follow however this is what we would recommend.
      <br>
      <br>
      We will be organising transport to the wedding venue and back for everybody (for free). However, if you wish to book a different accommodation, please just let us know your plans
      <br>
      <br>
      Address: Av. Me. Andaluz, 2000-210 Santarém, Portugal
      <br>
      Phone: +351 243 330 800
      <br>
      <a href="https://www.santaremhotel.net/en/" target="_blank" >Website</a>

    </div>

  </div>

</body>
