<body>
  <div class="mainpage">

    <h1 style="font-family: 'pacfico';"> Santarém Hotel </h1>

    <div class="hotel-images">

    <%= image_tag("hotel.jpg") %>
    <%= image_tag("room.jpg") %>

    </div>

    <div class="articles">

      We have agreed a discount rate at a Santarém Hotel. There is enough space for the full wedding party to stay here for as long as you want.
      <br>
      <br>
      <strong> You can reserve your stay at the hotel by emailing comercial@santaremhotel.net, stating that you are coming to our wedding and all you need to do is say how long you would like to stay for and how many rooms you need. </strong>
      <br>
      <br>
      Given the uncertain times, we have agreed that you only need to pay for the hotel on arrival.

      <br>
      <br>
      We will be organising transport to and from the wedding venue for everybody. However, if you wish to book a different accommodation, please just let us know your plans.
      <br>
      <br>
      Address: Av. Me. Andaluz, 2000-210 Santarém, Portugal
      <br>
      Phone: +351 243 330 800
      <br>
      <a href="https://www.santaremhotel.net/en/" target="_blank" >Website</a>

    </div>

  </div>

</body>
