<body>
  <div class="mainpage">

    <h1 style="font-family: 'pacfico';"> Santarém Hotel </h1>

    <div class="hotel-images">

    <%= image_tag("hotel.jpg") %>
    <%= image_tag("room.jpg") %>

    </div>

    <div class="articles">

      We have been able to reserve rooms for everybody at the Santerem Hotel, this is the only hotel in Santerem with a pool and is where everybody will be getting picked up on the day of the wedding.
      <br>
      <br>
      To book you accommodation you can either go via booking.com, go directly via the hotel  <a href="https://www.santaremhotel.net/en/" target="_blank" >Website</a> or email them at commercial@santaremhotel.net
      <br>
      <br>
      People booking have been getting cheaper prices using all three methods which is why we recommend trying all three.
      <br>
      <br>
      Address: Av. Me. Andaluz, 2000-210 Santarém, Portugal
      <br>
      Phone: +351 243 330 800
      <br>
      <a href="https://www.santaremhotel.net/en/" target="_blank" >Website</a>

    </div>

  </div>

</body>
