<body>

      <div class="mainpage">
        <div class="day" style="margin: auto auto; width: 300px; text-align: center;">
            Name: Miss Juliana F Braz
            <br>
            Sort Code: 11 08 10
            <br>
            Account Number: 1135 3466
        </div>
      </div>


</body>
