<body>

<div class="mainpage">
    <h1> How to get hold of us</h1>
    <h5> Hopefully this website has all the information you need, however if you still need to get hold of us then see our details below</h5>
    <div class=picture-writing>
      <div class="left">
      <br>
      <h5> Phone: Juliana (07769 674336) or Tom (07794 305757) </h5>
      <h5> Email: juliana.tom.2021@gmail.com </h5>
      <h5> Address: 8 Dolphin Court, Dolphin Close, Suribiton, KT6 4DZ </h5>
      </div>

      <div class="right">
        <%= image_tag("Oxford.png") %>
      </div>
    </div>
</div>

</body>
