<body>

  <div class="mainpage">
  <h1> Gifts </h1>
    <div class="day">
      <div class=picture-writing>
        <div class="left">

          <div class="mainpage" style="margin: auto , auto; text-align: center;">
          You’re invited to our wedding, when we both say ‘I Do’
          <br>
          <br>
          And as you know we’ve been ‘I do’-ing for at least a year or two!
          <br>
          <br>
          We’ve been together many years, and have a lovely home,
          <br>
          <br>
          There’s not that many items we don’t already own.
          <br>
          <br>
          So if your thoughts were on a gift, your presence will suffice;
          <br>
          <br>
          But if you really feel the need, donations to a honeymoon would be really nice!
          <br>
          <br>
          The choice is really up to you and we’d just like to say;
          <br>
          <br>
          That most of all, we hope you come, enjoy yourselves, and have a lovely day!
          </div>

        </div>

        <div class="right">
          <%= image_tag("gift.png") %>
        </div>
      </div>
    </div>
  </div>


</body>


