<body>

<div class="mainpage">
  <div class="title">
    <h1> Juliana & Thomas </h1>
    <br>
    <h1> Santerm, Portugal </h1>
  </div>

  <%= image_tag("picture.jpg") %>

  <div class="title">
    <h1> 14th August 2021 </h1>
  </div>

  <div class="holders">

  </div>

</div>

</body>
