<body>

<div class="mainpage">
  <div class="title">
    <h1> Juliana & Thomas </h1>
    <h1> Santerm, Portugal </h1>
  </div>

  <%= image_tag("Couple.jpg") %>

  <div class="title">
    <h1> 14th August 2021 </h1>
  </div>

  <div class="holders">
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/41/66/41662_v5.jpeg)">
      Accomodation
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      Wedding
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      Local Information
      </div>

    </div>
  </div>

</div>

</body>
