<body>

<div class="mainpage">
  <div class="title">
    <h1> Juliana & Thomas </h1>
    <h1> Santerm, Portugal </h1>
  </div>

  <%= image_tag("Couple.jpg") %>

  <div class="title">
    <h1> 14th August 2021 </h1>
  </div>

  <div class="holders">
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/41/66/41662_v5.jpeg)">
      <%= link_to "Accomodation", "/accomodation" %>
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn0.casamentos.pt/emp/fotos/7/1/4/9/24665-621587561189101-932279842-n_6_87149.jpg)">
      Wedding
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.visitportugal.com/sites/default/files/styles/encontre_detalhe_poi_destaque/public/mediateca/FB_2017-06-21_Santarem_shutterstock_421438771_Santarem%2C%20Portugal_660x371.jpg?itok=G1MRRUaW)">
      Local Information
      </div>

    </div>
  </div>

</div>

</body>
