<body>

<div class="mainpage">
  <div class="title">
    <h1> Juliana & Thomas </h1>
    <h1> Santerm, Portugal </h1>
  </div>

  <%= image_tag("Couple.jpg") %>

  <div class="title">
    <h1> 14th August 2021 </h1>
  </div>

  <div class="holders">
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Breakfast
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      Lunch
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      Dinner
      </div>

    </div>
  </div>

</div>

</body>
