<body>

  <div class="mainpage">
    <h1> Whats going on </h1>
    <h5> We understand that for the majoroty of you this is not only a wedding, but also a much needed holiday. Below is an outline of the activities that are taking place, however dont feel obliged to attend everything.</h5>
    <h1> Friday 13th August 2021 </h1>

    <div class=picture-writing>
      <div class="left">
       <%= image_tag("pool.jpg") %>
      </div>
      <div class="right">
        As people will be arriving at different times, we will be at the Santarém Hotel from 2.00pm to relax and catch up.
        <br>
        <br>
        There will be a bbq at the hotel in the evening with plenty of food and drink.
      </div>
    </div>

    <h1> Saturday 14th August 2021 </h1>

    <div class=picture-writing>
      <div class="left">
       <%= image_tag("pool.jpg") %>
      </div>
      <div class="right">
        <%= image_tag("wedding.jpg") %>
      </div>
    </div>


  </div>

</body>
