<body>

  <div class="mainpage">
    <h1> Whats going on </h1>
    <h5> We understand that for the majority of you this is not only a wedding, but also a much needed holiday. Below is an outline of the activities that are taking place, however don’t feel obliged to attend everything.</h5>

    <div class="day">
    <h1> Friday 12th August 2022 </h1>

      <div class=picture-writing>
        <div class="left">
         <%= image_tag("pool.jpg") %>
        </div>
        <div class="right">
          <h6> As people will be arriving at different times, we will be at the Santarém Hotel from 2.00pm to relax and catch up. </h6>
          <br>
          <h6> There will be a BBQ at the hotel in the evening with plenty of food and drink.</h6>
        </div>
      </div>
    </div>


    <div class="day">
      <h1> Saturday 13th August 2022 </h1>

      <div class=picture-writing>
        <div class="left">
        The wedding service will be taking place at the Quinta do Castilho at 11.30 AM. Guests staying at the Santarém Hotel will be picked up at 10.30am and be driven to the venue.
        <br>
        <br>
        Following the service, guests will be served a traditional 5 course meal, access to an open bar and an evening buffet (We would recommend attending on an empty stomach).
        <br>
        <br>
        There will be be plenty of outdoor games and a DJ in the evening.
        </div>
        <div class="right">
          <%= image_tag("wedding.jpg") %>
        </div>
      </div>
    </div>

    <div class="day">
      <h1> Sunday 14th August 2021 </h1>

       <div class=picture-writing>
        <div class="left">
          <%= image_tag("beer.png") %>
        </div>
        <div class="right">
          To cure all those hangovers and just in case you still need any food. In the afternoon of Sunday 14th August 2022, Julianas parents Isabel and Matt will be hosting an afternoon party.
          <br>
          <br>
          The party will take place at Hutchings house which is a 20 minute drive from the Santarém Hotel.
        </div>
      </div>
    </div>



  </div>

</body>
