<body>

  <div class="mainpage">
    <h1> Things to do </h1>

    <div class="day">
    <h1> Santarem </h1>

      <div class=picture-writing>


        <div class="localleft">
        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/gHERjhAur2A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="right">
        Overlooking the winding Tagus River from its ridge-top position, Santarem is located 74km North East of Lisbon airport (45 minute drive). You can get a direct 30 minute train from Lisbon's central station Estação do Oriente.
        <br>
        <br>
        Santarem is not the tourist hot spot, however there are still a few <a href="https://www.thecrazytourist.com/15-best-things-santarem-portugal/" target="_blank"> things </a> to do during you stay.
        </div>
      </div>
    </div>


    <div class="day">
      <h1> Lisbon </h1>
      <div class=picture-writing>
        <div class="left">
        Lisbon is the capital of Portugal and has 1000's of <a href="https://www.timeout.com/lisbon/things-to-do/the-best-things-to-do-in-lisbon" target="_blank"> things </a> to do including the famous Time out Market, is home of the custard cart (Pastéis de Nata) and has a very long bridge (Ponte 25 de Abril).
        <br>
        <br>
        We would recommend going on one of the many electric scooters

        </div>
        <div class="localright">
          <iframe class="responsive-iframe" src="https://www.youtube.com/embed/xeg8QZWFwWw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="day">
    <h1> Pena Palace (Sintra) </h1>

      <div class=picture-writing>


        <div class="localleft">
        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/3TMMTEM6guE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="right">
        The <a href="https://en.wikipedia.org/wiki/Pena_Palace/" target="_blank"> Pena Palace </a> is 30 minutes from Lisbon and is a must see.
        </div>
      </div>
    </div>

    <div class="day">
      <h1> Porto </h1>
      <div class=picture-writing>
        <div class="left">
        Porto is the second largest city in Portugal and is obviously the birth place of Port and it is claimed that JK Rowling wrote the first Harry Potter book there.
        <br>
        <br>
        So there are <a href="https://www.thecrazytourist.com/25-best-things-porto-portugal/" target="_blank"> clearly </a> a lot of things to do.
        </div>
        <div class="localright">
          <iframe class="responsive-iframe" src="https://www.youtube.com/embed/ccJIPF3VXeg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>



  </div>

</body>
