<body>




  <div class="wedding">

  <div class="mainpage" style="color: black">
  <h1> Quinta do Castilho </h1>
  <div class="day">
  <div class=picture-writing>

      <div class="left">
        <div class="info">

          The wedding will be taking place at the Quinta do Castilho. It is located in Vale de Figueira, Santarém, a rural area surrounded by lezirias and cultivated fields.
          <br>
          <br>
          Quinta do Castilho is a family property, which has been passed down from generation to generation.

        </div>
      </div>

      <div class="right">
        <%= image_tag("weddingvenue.jpg") %>
      </div>
    </div>

  </div>
</div>
</body>
