.navbar-lewagon {
  justify-content: space-between;
  padding-top: 1%;
  background: white;
  padding-right: 5%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 100px;
}

.navbar-lewagon  a {
   color: rgb(230,201,218);
   font: bold;

}
